<!DOCTYPE html>
<html>
  <head>
    <title>FullCalendar with Bootstrap 4 & Rails 5.2.0</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <div class='container'>
        <div class='row'>
          <div class='col-12'>

            <%= yield %>

          </div>
        </div>

        <div id='remote_container'></div>
      </div>

  </body>
</html>
